/*
* Template created by : Ahmed Essa www.ahmedessa.net
* Modified by: Nivi Thatra thatniv.com
*/


/* Table of Contents
==================================================
    - Google fonts & font family -
    - General -
    - Preloader -
    - Logo section -
    - Door section -
*/


/* Google fonts & font family
==================================================*/

@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i';

/*
font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Coming Soon', cursive;
*/


/* General
==================================================*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    background-color: #FFE656;
    height: 100vh;
}

.size-50 {
    font-size: 50px;
    line-height: 50px
}

.h-50 {
    height: 50px;
}


/*Playd8s logo section
==================================================*/

#logo{
  position: relative;
  top: 8px;
  left: 100px;
  margin-bottom: 20px;
}

/*Social media section
==================================================*/

#social{
  position: relative;
  top: 10px;
  left: 16px;
  margin-bottom: 20px;
}

/*Doors section
==================================================*/

#doors {
    position: relative;
    top: 10px; 
    margin-bottom: 30px;
}

/*Screen sizing & removing scroll bars
==================================================*/

@media screen and ( max-width: 450px ) {
 img { height: 120px; width: auto; overflow: hidden;}
}


::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
